.results-container {
    width: 100%;
    padding: 0 50px 50px;
    box-sizing: border-box;
}

.results-list {
    width: 100%;
    max-width: 1400px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    gap: 20px;
}