.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transform: translateY(-200px);
}
.main-heading h1 {
    font-size:2.2rem;

}
.input-box input {
    width: 700px;
    height: 50px;
    padding: 0 15px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
}
.caption p{
    color: gray;
    margin: 0;
    padding-bottom: 20px;
}